<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <h1> 20198060</h1>
        <style>
            body{background-color: rgb(114, 126, 124); position: relative;left: 350px; color: blue;}    
        </style>
</head>
<body>
<form name="upload" method="post" >
    <label for="upimage" > please upload your image</label><br>
    <input type="file" id="upimage" name="upimage" required> <br>
    <input type="submit" name="upimage">
</form>
<br>
<img src="{{imagee}}" width="500" height="280">
<p>{{aaaa}}</p>
</body>
</html>
